# Python virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Test/cache files
.pytest_cache/

# ChromaDB generated database
**/chroma_db/

# Build/package files
build/
dist/
*.egg-info/